[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
matplotlib = "*"
opencv-python = "*"
numpy = "*"
mxnet = "*"
requests = "*"
beautifulsoup4 = "*"
imgkit = "*"
html2image = "*"
aiohttp = "*"
gluoncv = "*"
datasets = "*"

[dev-packages]

[requires]
python_version = "3.8.12"
